<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <appSettings>
    <add key="lockScreenHeader" value="Stroll out"/>
    <add key="lockScreenParagraph" value="Regular activity makes you live longer"/>
    <add key="lockScreenBackgroundColor" value="#00000000"/>
    <add key="breaksIntervalSec" value="3600"/>
    <add key="durationBreakSec" value="600"/>
    <add key="strictBreaks" value="true"/>
    <add key="lookHiddenRest" value="false"/>
    <add key="startupWithSystem" value="false"/>
    <add key="startInTray" value="false"/>
  </appSettings>
</configuration>